#counter,
#timer {
  font-size: 30px;
  color: purple;
}

* {
  margin: 0;
  padding: 0;
}

#hl {
  width: 99.7%;
  border-top: 1px solid black;
  position: absolute;
  top: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

#vl {
  height: 99.7%;
  border-left: 1px solid black;
  position: absolute;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
}
